* {
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
    width: 1000px;
    height: 400px;

}


.item {
    float: left;
    margin-right: 2px;
    list-style: none;
    width: 50px;
    height: 400px;
    border-radius: 10px;
    background-color: pink;
    background-size: cover;
    background-position: center;
    transition: all .3s ease-in-out;
}

.active {
    width: 300px;
}

.item:nth-child(1) {
    background-image: url(./asset/images/1.jpg);
}

.item:nth-child(2) {
    background-image: url(./asset/images/2.jpg);
}

.item:nth-child(3) {
    background-image: url(./asset/images/3.jpg);
}

.item:nth-child(4) {
    background-image: url(./asset/images/4.jpg);
}